.address-col {
  width: 200px;
}

tr.active th,
tr.active td {
  background-color: #083c5d !important;
  color: aliceblue;
  padding: 15px 10px 15px;
}

tr.active {
  box-shadow: 0 0 10px inset #000;
}